<h3>About | uppercase</h3>

<p>We are new media platform company who specialized in posting difference church conference around the world.</p>
<p>Get Connected!</p>


<h3>Our Contact</h3>
<p>Send us you poster/Ads below</p>

<form action="">
    <div class="form-inline">
        <label for="nameOfResponsbleParty" class="form-label">Name:</label>
        <input type="text" class="form-control">
    </div>
    <div class=" form-inline">
        <label for="nameOfResponsbleParty" class="form-label">Email:</label>
        <input type="text" class="form-control">
    </div>
    <div class=" form-inline">
        <label for="nameOfResponsbleParty" class="form-label">Files:</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>