<app-svg style="margin-left: 37px"></app-svg>

<div class="container">
  <h3>Our Contact</h3>
  <p>Send us you poster/Ads below</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum
    delectus, qui facilis aliquam minima nihil debitis consequuntur, nostrum
    veritatis accusantium obcaecati, quod in alias impedit aliquid eveniet.
    Inventore, excepturi.
  </p>
  <div
    class="d-flex justify-content-center mb-3 mt-5"
    style="background-color: #e9edef; width: 821px"
  >
    <!-- <h4 class="m-5">Contact</h4>
    postal -->
    <div class="p-2 bd-highlight left-bg">
      <!--Flex item 1 -->
      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        width="510"
        height="326.564"
        viewBox="0 0 510 326.564"
      >
        <rect
          id="Rectangle_1"
          data-name="Rectangle 1"
          width="123"
          height="78"
          rx="13"
          transform="translate(196.5 165.709)"
        />
        <rect
          id="Rectangle_2"
          data-name="Rectangle 2"
          width="123"
          height="78"
          rx="13"
          transform="translate(325.5 165.709)"
        />
        <rect
          id="Rectangle_3"
          data-name="Rectangle 3"
          width="123"
          height="78"
          rx="13"
          transform="translate(67.5 165.709)"
        />
        <rect
          id="Rectangle_4"
          data-name="Rectangle 4"
          width="123"
          height="78"
          rx="13"
          transform="translate(129 248.564)"
        />
        <rect
          id="Rectangle_5"
          data-name="Rectangle 5"
          width="123"
          height="78"
          rx="13"
          transform="translate(258 248.564)"
        />
        <rect
          id="Rectangle_6"
          data-name="Rectangle 6"
          width="123"
          height="78"
          rx="13"
          transform="translate(0 248.564)"
        />
        <rect
          id="Rectangle_7"
          data-name="Rectangle 7"
          width="123"
          height="78"
          rx="13"
          transform="translate(387 248.564)"
        />
        <rect
          id="Rectangle_8"
          data-name="Rectangle 8"
          width="123"
          height="78"
          rx="13"
          transform="translate(123 82.855)"
        />
        <rect
          id="Rectangle_9"
          data-name="Rectangle 9"
          width="123"
          height="78"
          rx="13"
          transform="translate(252 82.855)"
        />
        <rect
          id="Rectangle_10"
          data-name="Rectangle 10"
          width="123"
          height="78"
          rx="13"
          transform="translate(190.5 0)"
        />
      </svg> -->
    </div>
    <div class="p-2 bd-highlight">
      <form>
        <div
          class="container my-3"
          style="background-color: #e9edef; max-width: 618px"
        >
          <div class="d-flex">
            <div style="margin-right: 38px">
              <label>FULL NAME</label><br />
              <input placeholder="Name" />
            </div>
            <div>
              <label>EMAIL ADDRESS</label><br />
              <input placeholder="@Email" />
            </div>
          </div>
          <div class="mt-2">
            <label>SUBJECT</label> <br />
            <input placeholder="Subject" style="width: 558px" />
          </div>
          <div class="mt-2">
            <label>MESSAGE</label><br />
            <textarea
              placeholder="Message"
              style="width: 558px; height: 80px"
            ></textarea>
          </div>
          <div class="mt-2">
            <button type="button" class="btn btn-dark">Send Message</button>
          </div>
        </div>
      </form>
    </div>
    <div class="p-2 bd-highlight right-bg"><!--Flex item 3--></div>
  </div>
  <div class="d-flex flex-row d-flex justify-content-evenly mb-3">
    <div class="p-2 bd-highlight">
      <img src="./assets/icons8-circled-envelope-48.png" />
      <span>Email add.</span>
    </div>
    <div class="p-2 bd-highlight">
      <img src="./assets/icons8-internet-48.png" />
      <span>web add.</span>
    </div>
    <div class="p-2 bd-highlight">
      <img src="./assets/icons8-location-48.png" />
      <span>Physical add.</span>
    </div>
  </div>
</div>
