<app-svg style="margin-left: 37px"></app-svg>

<div class="container">
  <h3>Our Contact</h3>
  <p>Send us you poster/Ads below</p>

  <form>
    <div class="container" style="background-color: #e9edef">
      Contact Us
      <div class="d-flex">
        <div style="margin-right: 10px">
          <label>FULL NAME</label><br />
          <input placeholder="Name" />
        </div>
        <div>
          <label>EMAIL ADDRESS</label><br />
          <input placeholder="@Email" />
        </div>
      </div>
      <div class="mt-2">
        <label>SUBJECT</label> <br />
        <input placeholder="Subject" style="width: 352px" />
      </div>
      <div class="mt-2">
        <label>MESSAGE</label><br />
        <textarea
          placeholder="Message"
          style="width: 352px; height: 80px"
        ></textarea>
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-dark">Send Message</button>
      </div>
    </div>
  </form>
</div>
