label {
    font-weight: bold;
    font-size: 10px;
    font-weight: bold;
    color: black;
}

input {
    border: none;
}

textarea {
    border: none;
}

::placeholder {
    font-size: 12px;
    color: rgb(182, 182, 182);
}