<app-svg style="margin-left: 37px"></app-svg>

<div class="container">
  <div class="row">
    <div class="d-flex col text-shadow-1">
      <div
        id="carouselExampleIndicators"
        class="carousel slide carousel-fade carousel-dark"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://picsum.photos/id/700/900/500"
              class="d-block w-100 rounded"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/1011/900/500"
              class="d-block w-100 rounded"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://picsum.photos/id/984/900/500"
              class="d-block w-100 rounded"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col text-center">
      <h2>Welcome to Conference finder.</h2>
      <p>A site that post and search church events in your city.</p>
      <button type="button" class="btn btn-dark mt-4">
        Send Us your Events here
      </button>
    </div>
  </div>
</div>

<!-- cards -->
<div
  class="row row-cols-1 row-cols-md-3 g-4 mt-5 mb-5 m-2 justify-content-center"
>
  <div class="col" style="width: 18rem; height: 8rem">
    <div class="card h-100 bg-warning">
      <!-- <img src="..." class="card-img-top" alt="..." /> -->
      <div class="card-body" style="margin-top: -12px;">
        <h5 class="card-title">Upload It</h5>
        <div style="text-align: center;">
          <img src="/assets/upload.svg" alt="icon1" style="height:78px"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="width: 18rem; height: 8rem;">
    <div class="card h-100 bg-primary">
      <div class="card-body" style="margin-top: -10px;">
        <h5 class="card-title">Review It</h5>
        <div class="pb-2" style="text-align: center; margin-top: -10px;">
          <img src="assets/reviewit.svg" alt="icon2" style="height:85px">
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="width: 18rem; height: 8rem">
    <div class="card h-100 bg-danger">
      <!-- <img src="..." class="card-img-top" alt="..." /> -->
      <div class="card-body" style="    margin-top: -10px;">
        <h5 class="card-title">Show It</h5>
        <div style="text-align: center; margin-top:-28px">
          <img src="assets/play.svg" alt="icon3" style=" height: 112px;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- calender -->
<!-- <p-calendar (ngModel)]="date14" [inline]="true" [showWeek]="true"></p-calendar> -->

<h3 class="d-flex justify-content-center">Current Year Calender</h3>
<!-- vertical timeline -->
<app-v-timeline></app-v-timeline>
<!--end of page-->
