<div class="timeline bg-dark">
  <div class="wrap left">
    <div class="content flex">
      <h2>2017</h2>
      <div class="">
        <!--click pic to enlarge-->
        <img
          src="./assets/conf_poster-1.jpeg"
          class="img-fluid rounded justify-content-center"
          style="height: 300px; align-items: right"
        />
      </div>
    </div>
  </div>
  <div class="wrap right">
    <div class="content">
      <h2>2016</h2>
      <div>
        <img src="./assets/conf_poster-2.jpeg" class="img-fluid rounded" />
      </div>
    </div>
  </div>
  <div class="wrap left">
    <div class="content">
      <div>
        <span>12</span> <br />
        <span>2022</span>
      </div>

      <img src="./assets/conf_poster-3.jpeg" class="img-fluid rounded" />
    </div>
  </div>
  <div class="wrap right">
    <div class="content">
      <h2>2012</h2>
      <div>
        <img src="./assets/conf_poster-4.jpeg" class="img-fluid rounded" />
      </div>
    </div>
  </div>
  <div class="wrap left">
    <div class="content">
      <h2>2011</h2>
      <div>
        <img src="./assets/conf_poster-5.jpeg" class="img-fluid rounded" />
      </div>
    </div>
  </div>
  <div class="wrap right">
    <div class="content">
      <h2>2007</h2>
      <div>
        <img src="./assets/conf_poster-6.jpeg" class="img-fluid rounded" />
      </div>
    </div>
  </div>
</div>
